.theme {
	
	&--primary,
	&--blue { 
		background: $brandBlue;
		color: #fff;
	}

	&--secondary,
	&--orange {
		background: $brandOrange;
		color: #fff;
	}

	&--alternative,
	&--grey { 
		background: $brandGrey;
		color: $brandBlue;
	}

	&--purple {
		background: $brandPurple;
		color: #fff;
	}

	&--pink {
		background: $brandPink;
		color: #fff;
	}

	&--teal {
		background: $brandTeal;
		color: #fff;
	}

}
