
.cookie-notice {
  display: none;
  position: fixed;
  width: calc(100% - 60px);
  max-width: 330px;
  right: 30px;
  bottom: 30px;
  z-index: 800;
  background: $brandBlueLight;
  border-radius: 10px;
  color: #fff;
  padding: 25px;
  box-shadow: 3px 3px 20px rgba(#000, .1);

  &__title {
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: .9rem;
    line-height: 1.5;
    margin: 15px 0;
  }

  &__links {
    @include align-items(flex-end);
  }

  a {
    color: $brandOrange;
    text-decoration: underline;
    font-size: .85rem;
    font-weight: 400;
  }
}