////
///	
/// @group Components (CTAs)
/// @author Rob Watson
////

.cta {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: #fff;
	color: $brandBlue;
	border-radius: 10px;
	border: 2px solid #fff;
	font-weight: 700;
	padding: 10px 40px;
	@include font-size(8.75, 10);
	cursor: pointer;

	&:hover {
		background: transparent;
		color: #fff;
	}

	&--sm {	
		@include font-size(8.75, 10);
		padding: 10px 15px;
	
	}
	
	&--lg { 
		@include font-size(12, 14);
		padding: 11px 60px;
		
	}

	&--ghost {
		background: transparent;
		color: #fff;

		&:hover {
			background: #fff;
			color: $brandBlue;
		}
	}

}

.cta--white-purple,
.cta--white-pink,
.cta--white-teal {
	background: #fff;
	border-color: #fff;

	&:hover {
		background: transparent;
		color: #fff;
	}
}

.cta--white-purple { color: $brandPurple; }
.cta--white-pink { color: $brandPink; }
.cta--white-teal { color: $brandTeal; }

.cta--orange-white {
	background: $brandOrange;
	border-color: $brandOrange;
	color: #fff;

	&:hover {
		background: transparent;
		color: $brandOrange;
	}
}