// --------------------------------------------------------------------------------------------------
// Footer
// --------------------------------------------------------------------------------------------------

main > .section:last-child {
    padding-bottom: 80px;
} 

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 100px;
  background: transparent;
  padding: 30px;
  @include flex-direction(column);
  @include justify-content(space-between);
  text-align: center;
  font-size: .8rem;

  @include md-up {
      @include flex-direction(row);
  }

  @include lg-up {
      padding: 50px 70px;
  }

  p {
      margin: 0 0 20px;

      @include md-up {
          margin: 0;
      }
  }

  a:not(.cta) {
      color: #fff;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
  }
}

.footer-links {
  li {
      @include md-up {
          display: inline-block;

          + li {
              margin-left: 15px;
          }
      }
  }

  a {
      padding: 5px 0;
      display: inline-block;

      @include md-up {
          padding: 0;
      }
  }
}